nav {
    display: flex;
    justify-content: right;
    list-style: none;

    ul {
        display: flex;
        margin: 30px 30px 30px;
    }

    li {
        padding: 10px;
        text-decoration: none;
        list-style: none;
    }

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
        color: gray

        }
    }
}